.reservationHeader{
    min-height: 100vh;
    width: 100%;
}

.imageBook{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../res/Reservation/reservation.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -2;
}

.textBox{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
}

.reservation{
    text-align: left;
    padding: 0px 25%;
    font-family: 'Libre Baskerville', serif;
}

.reservation .subTitle{
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 16px;
    color: #27374d;
}

.input{
    position: relative;
    margin: 0px 0 8px 0;
    width: 100%;
    border-bottom: 1px solid #27374d;
}

.input input::placeholder{
    font-size: 14px;
    color: #989fab;
}

.input input, select{
    width: 100%;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px 0 5px;
    color: #989fab;
    font-size: 14px;
}

.input input.active, select.active{
    color: #27374d;
}

#roomType{
    padding-left: 5px;
}

.button1{
    color: #fff;
    background-color: #27374d;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    transition: all 0.5s;
}

.button1:hover{
    transform: scale(1.1);
    background-color: #202d3f;
    transition: all 0.5s;
}

.button{
    padding-top: 50px;
    text-align: center;
}

.textBox h1{
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
    font-size: 58px;
}

.reservationSection{
    height: fit-content;
    padding: 60px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #fff;
}

.reservationInfo{
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    color: #27374d;
}
.reservationInfo h2{
    font-family: 'Libre Baskerville', serif;
    padding-bottom: 30px;
    font-size: 40px;
}

.reservationInfo p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 30px;
    font-size: 20px;
}

.error{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding-left: 3px;
    color: brown;
}

#req{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    padding-left: 3px;
    color:#27374d;
}

@media (max-width: 1100px){
    .reservation{
        padding: 0 20%;
    }
}

@media (max-width: 913px){
    .reservation{
        padding: 0 15%;
    }
}

@media (max-width: 768px){
    .reservation{
        padding: 0 5%;
    }
    .reservationInfo h2{
        padding-bottom: 20px;
        font-size: 30px;
    }
    .reservationSection{
        padding: 50px;
    }
    .reservationInfo p{
        line-height: 25px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .reservationInfo{
        padding: 0px 10px;
    }
    .input input, select{
        font-size: 12px;
    }
    .button1{
        border-radius: 0;
        font-size: 15px;
    }
}

@media (max-width: 500px){
    .reservationInfo p{
        line-height: 25px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .reservation{
        padding: 0 0;
    }
    .reservationInfo{
        padding: 0px 10px;
    }
    .input input, select{
        font-size: 12px;
    }
    .button1{
        font-size: 10px;
    }
}