.homeHeader {
  height: 100vh;
  width: 100%;
}

.imageHome{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../res/Home/Home.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

.textBox {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
}
.textBox h1 {
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1px;
  font-size: 58px;
}
.textBox p {
  font-size: 20px;
  margin: 15px 0 30px;
}

.heroButton {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  border-radius: 1px;
  font-size: 17px;
  position: relative;
  cursor: pointer;
  transition: all 0.7s;
  background-color: transparent;
}

.heroButton:hover {
  border: 1px solid #fff;
  background-color: #fff;
  transition:  all 0.7s;
  color: #27374d;
}

.events {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #27374d;
  top: 50%;
  background-color: #fff;
  left: 50%;
  text-align: center;
  padding-bottom: 50px;
}

.eventHeader {
  padding: 50px;
  padding-top: 60px;
}

.eventHeader h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  color: #27374d;
  padding-bottom: 20px;
}

.eventHeader p {
  font-size: 20px;
  color: #27374d;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.sliderWrap {
  position: relative;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  transition: all 0.5s;
}

.slider {
  padding-top: 0px;
  display: flex;
  aspect-ratio: 18/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  aspect-ratio: 18/9;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  object-fit:cover;
  transition: 0.5s;
}

.sliderNav {
  z-index: 1;
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.sliderNav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 75%;
  transition: opacity ease 250ms;
}

.sliderNav a:hover {
  opacity: 1;
}

.slide {
  flex: 1 0 100%;
  scroll-snap-align: start;
  padding-top: 0px;
  display: flex;
  position: relative;
}

.slide:hover img {
  filter: brightness(70%);
  transition: 0.5s;
}

.slideText h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  padding-bottom: 10px;
  transition: all 0.5s;
}

.slideText p {
  line-height: 1.5rem;
  font-size: 18px;
  position: absolute;
  top: 53%;
  left: 30%;
  transform: translate(-20%, -50%);
  text-align: center;
  opacity: 0;
  line-height: 35px;
  color: #fff;
  font-weight: 400;
  transition: all 0.5s;
}

.slide:hover h1 {
  top: 35%;
  transition: all 0.5s;
}

.slide:hover p{
  opacity: 1;
  transition: all 0.5s;
}

.explore {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #27374d;
  text-align: center;
  background-color: #dde6ed;
  padding-bottom: 80px;
}

.explorePics {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  overflow: hidden;
  margin: 0 auto;
  gap: 0;
  transition: all 0.5s;
}

.shrink {
  width: 25rem;
  height: 30rem;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 1;
  transition: all 0.5s;
}

.shrink img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  transition: all 0.5s;
}


.shrink:hover {
  width: 40rem;
  transition: all 0.5s;
}

.shrink:hover img {
  filter: brightness(70%);
}

.shrink:hover .shrinkText h1 {
  transition: all 0.3s ease;
  top: 40%;
}

.shrink:hover .shrinkText p {
  padding-top: 0px;
  opacity: 1;
  transition: all 0.3s ease;
  top: 53%;
}

.shrink:hover .picButton {
  display: block;
  transition: all 0.5s ease;
  top: 67%;
}

.sliderWrap:hover{
  width: 90%;
  transition: all 0.5s;
}

.shrinkText h1 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  color: #fff;
  transition: all 0.3s ease;
  padding-bottom: 0px;
}

.shrinkText p {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: all 0.3s ease;
  font-size: 15px;
  opacity: 0;
  color: #fff;
  font-weight: 400;
}

.picButton {
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: all 0.5s ease;
  display: none;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 1px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent; 
  font-weight: 400;
}

.picButton:hover {
  border: 1px solid #dde6ed;
  background-color: #dde6ed;
  transition: 0.8s;
  color: #27374d;
}

.membership{
  background-color: #fff;
  text-align: center;
  padding-bottom: 80px;
}

.member{
  position: relative;
  width: 80%;
  aspect-ratio: 18/9;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.member .memberPic{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}


.member .v{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 60px;
  color: #fff;
  transition: all 0.2s;
}

.member .loyalty{
  position: absolute;
  letter-spacing: 3px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 61%;
  opacity: 0;
  font-size: 60px;
  color: #fff;
  transition: all 0.2s;
}

.member:hover .v{
  left: 40%;
  opacity: 0;
  transition: all 0.2s;
}

.member:hover .loyalty{
  left: 50%;
  opacity: 1;
  transition: all 0.2s;
}

.member:hover p{
  opacity: 1;
  left: 40%;
  transition: all 0.3s;
}

.member p{
  position: absolute;
  top: 65%;
  transform: translate(-33%, -50%);
  left: 50%;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

.member:hover .memberPic{
  filter: brightness(70%);
  transition: all 0.3s;
  transform: scale(1.05);
}


@media (max-width: 1167px){
  .slide:hover h1 {
    top: 25%;
    transition: all 0.5s;
  }
  .member .v{
    font-size: 40px;
  }
  .member .loyalty{
    font-size: 40px;
  }
  .member p{
    font-size: 16px;
  }
}

@media (max-width: 911px){
  .sliderNav {
    bottom: 3rem;
  }
  .slideText p {
    font-size: 15px;
    line-height: 25px;
  }
  .member p{
    font-size: 14px;
  }
  .member:hover .v{
    top: 45%;
  }
  .member:hover .loyalty{
    top: 45%;
  }
}

@media (max-width: 768px){
  .slideText h1 {
    font-size: 28px;
  }
  .shrink:hover {
    width: 120%;
    height: 25rem;
    transform: scale(1.1);
    transition: all 0.5s;
    z-index: 3;
  }
  .explorePics{
    flex-direction: column;
    max-width: 70%;
  }
  .slideText p {
    font-size: 13px;
    line-height: 23px;
  }
  .shrinkText h1 {
    font-size: 30px;
  }
  .slider{
    aspect-ratio: 13/9;
  }
  .shrinkText p {
    font-size: 15px;
  }
  .picButton {
    font-size: 15px;
    padding: 7px;
  }
  .shrink{
    height: 20rem;
    width: 100%;
  }
  .shrink:hover .shrinkText h1 {
    top: 35%;
  }
  .shrink:hover .picButton {
    top: 70%;
  }
  .member{
    aspect-ratio: 13/9;
  }
  .member:hover .v{
    top: 40%;
  }
  .member:hover .loyalty{
    top: 40%;
  }
  .member p{
    font-size: 15px;
  }
}

@media (max-width: 569px){
  .slideText h1 {
    font-size: 20px;
  }
  .eventHeader h1{
    font-size: 30px;
  }
  .sliderNav a {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
  }
  .eventHeader p{
    font-size: 15px;
  }
  .sliderNav {
    bottom: 2.5rem;
  }
  .slideText p {
    font-size: 10px;
    line-height: 14px;
  }
  .shrinkText p {
    font-size: 11px;
  }
  .shrink:hover .picButton {
    display: block;
    transition: all 0.5s ease;
    top: 70%;
  }
  .shrink:hover {
    height: 20rem;
    transition: all 0.5s;
  }
  .shrink{
    height: 15rem;
  }
  .member .v{
    font-size: 25px;
  }
  .member .loyalty{
    font-size: 25px;
  }
  .member p{
    font-size: 11px;
  }
}

@media (max-width: 400px){
  .slideText p {
    top: 60%;
  }
}